@{
    ViewData["Title"] = "Home Page";

}

<div class="jumbotron">
    <h1>Student Portal</h1>
    <p class="lead">Welcome to University Student portal</p>
</div>

<section>
    <article>
        <p>
            Welcome to the University Student Portal.
            From this site you can:
            <ul>
                <li>View Enrolled Courses </li>
                <li>View Grades</li>
            </ul>
        </p>
    </article>
</section>
